body {
  margin: 0;
  font-family: 'avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: orange;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  margin: 5px;
  padding: 10px 15px;
}

button:hover {
  background-color: orangered;
  cursor: pointer;
}