@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --light-bg: #f4f3f1;
  --highlight-bg: #f2e0ce;
  --main-light-orange: #ffaa67;
  --main-btn-hover: #f28939;
  --main-dark-orange: #da674a;
  --main-yellow: #f9c670;
  --main-green: #39998e;
  --main-dark: #1c1d1d;
  --main-red: #ff4557;
  --main-dark-gray: #aebfd1;
  --main-medium-gray: #c5d2de;
  --main-light-gray: #f2f5f7;
  --main-dark-purple: #57455a;
  --main-btn-letters: #2e2115;
  --crisol-orange: #ff7900;
  --header-bg: #323232;
}

body {
  margin: 0;
  background-color: var(--light-bg);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: var(--main-light-orange);
  color: var(--main-btn-letters);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 700;
  margin: 5px;
  padding: 10px 15px;
}

button:hover {
  background-color: var(--main-btn-hover);
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: inset 0 0 5px grey;
}

.white-space {
  height: 50px;
}

.error {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc((100vh - 86px) / 2 + 86px);
  transform: translateY(-50%);
}

.error > a {
  margin-top: 30px;
}
