.participant {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  background-color: #eeeeee
}

.participant-container {
  background-color: #eeeeee;
}

.participant-container:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 95%;
  border-bottom: 1px solid grey;
}

.participant-container:last-child:after {
  border: none;
}