.disabled {
  background-color: var(--main-medium-gray);
  cursor: not-allowed;
  opacity: 1;
  color: var(--main-green);
}

.details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.participant-details {
  background-color: var(--highlight-bg);
  border-radius: 10px;
  height: 100%;
  margin: 0;
  padding: 40px;
  width: 100%;
}
.details-container {
  border-radius: 10px;
  height: calc(100vh - 166px);
  margin: 40px auto;
  position: relative;
  width: 80%;
}

.showcased-section {
  display: flex;
  flex-direction: row;
  height: calc(100% - 110px);
  overflow: hidden;
  width: 100%;
}

.showcased-section > section {
  min-width: 100%;
}

.section-selectors {
  background-color: var(--main-yellow);
  border-radius: 5px;
  font-weight: 700;
  margin-right: 5px;
  padding: 10px 15px 9px 15px;
  align-self: center;
}

.section-selectors:hover {
  background-color: var(--main-btn-hover);
}

.selected-section {
  background-color: var(--crisol-orange);
}

.selectors-container {
  width: 50%;
  display: flex;
  justify-content: start;
  height: 50px;
}

.displayed-information {
  display: flex;
}

.details-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.hide-buttons {
  display: none;
}

.participant-details:before {
  position: absolute;
  border-radius: 30px;
  content: '';
  bottom: 25px;
  right: 0px;
  height: 50px;
  width: 75%;
  background: #777;
  z-index: -1;
  -webkit-box-shadow: 10px 25px 15px #80808080;
  -moz-box-shadow: 10px 25px 15px #80808080;
  box-shadow: 10px 25px 15px #80808080;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.participant-details:after {
  position: absolute;
  border-radius: 30px;
  content: '';
  bottom: 0px;
  right: 20px;
  height: 75%;
  width: 50px;
  background: #777;
  z-index: -1;
  box-shadow: 20px 5px 15px #80808080;
  -webkit-box-shadow: 20px 5px 15px #80808080;
  -moz-box-shadow: 20px 5px 15px #80808080;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
