.payment.status {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: large;
}

.payment {
  padding-left: 25px;
}

.amount-due {
  font-size: large;
}

.global-payment-status {
  display: flex;
  justify-content: space-between;
}

.payment-information {
  display: flex;
  padding: 10px 0;
}

.payments-list {
  height: calc(100% - 123px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #e4e4e4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.payments-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.payments-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.payment-grid {
  background-color: #e4e4e4;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas: "date type amount";
}

.payment-detail:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 95%;
  border-bottom: 1px solid grey;
}

.payment-detail:last-child:after {
  border: none;
}

.payment-detail:hover {
  background-color: var(--main-dark-gray);
}

.no-payments {
  margin: 20px auto;
}

.payment-buttons {
  display: flex;
}
