.list-container {
  overflow-y: scroll;
  height: calc(100% - 192px);
  background-color: #e4e4e4;
}

.list-container > h3 {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.participants-list {
  padding: 0 50px 0 50px;
  height: calc(100vh - 86px);
  width: 100%;
}

.participant-grid {
  background-color: #e4e4e4;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 5.75fr 1fr 2.5fr 2fr 5.75fr 2fr 1.5fr;
  grid-template-areas: "name status-light status instrument email underage delete";
}

.participant-grid:hover {
  background-color: var(--main-dark-gray);
}

.grid-header {
  background-color: var(--header-bg) !important;
  color: white;
  font-weight: 600;
  padding: 15px 0;
}

.grid-header:hover {
  background-color: var(--header-bg);
}

.grid-header-item {
  border-right: 1px solid gray;
}

.grid-header-item:last-child {
  border: none;
}

.grid-item {
  padding: 5px 15px;
  align-self: center;
  justify-self: stretch;
}

.grid-name {
  grid-area: name;
  padding-left: 25px;
}

.grid-participants-total {
  grid-column: 5 / span 3;
}

.grid-status-title {
  grid-area: status-light / span 2;
}

.grid-status-light {
  grid-area: status-light;
  justify-self: right;
}

.grid-status {
  grid-area: status;
}

.grid-email {
  grid-area: email;
}

.grid-underage {
  grid-area: underage;
}

.grid-instrument {
  grid-area: instrument;
}

.grid-delete {
  grid-area: delete;
}

.grid-date {
  grid-area: date;
  padding-left: 25px;
}

.grid-type-payment {
  grid-area: type;
}

.grid-amount {
  grid-area: amount;
  justify-self: right;
  padding-right: 25px;
}

.participant-container {
  background-color: #e4e4e4;
}

.participant-container:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 95%;
  border-bottom: 1px solid grey;
}

.participant-container:last-child:after {
  border: none;
}

.participant-grid > a:hover {
  font-weight: 700;
  /* font-size: 20px; */
}

.search-and-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 0;
}

.toggle-vertical-align {
  display: flex;
  align-content: center;
}

.toggle-vertical-align > span {
  margin-right: 10px;
}

.search-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 3px gray;
  height: 100%;
  padding: 10px 20px;
  width: 300px;
}

.search-input:focus {
  outline: none;
}

.search-input {
  background-color: #ffffff;
  border: none;
  height: 22px;
  width: 90%;
}

.hidden {
  display: none;
}

.cancel-cross {
  font-size: 14px;
  cursor: pointer;
}
