.delete-btn {
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  height: 30px;
  width: 30px;
}

.delete-btn > span {
  position: relative;
  left: 2px;
  font-size: 14px;
}

.delete-btn:hover {
  background-color: #e4e4e4;
}