.main-navbar {
  background-color: var(--main-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  padding: 20px 40px;
  width: 100%;
}

.main-navbar > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  background-color: var(--main-dark);
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
}

ul {
  list-style-type: none;
}

li > a {
  color: white;
  font-weight: 700;;
}

.logout{
  background-color: var(--crisol-orange);
  font-size: 14px;
  color: black;
}

.login {
  background-color: var(--crisol-orange);
  font-size: 14px;
  color: black;
}

.nav-link-active {
  background-color: rgb(50, 50, 50);
  color: var(--crisol-orange);
}
