.status-light-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  padding: 3px;
}

.status-light {
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.blue {
  background-color: deepskyblue;
  box-shadow: 0 0 2px deepskyblue;
}

.orange {
  background-color: orange;
  box-shadow: 0 0 2px orange;
}

.dark-blue {
  background-color: rgb(0, 105, 216);
  box-shadow: 0 0 2px rgb(0, 105, 216);
}

.green {
  background-color: green;
  box-shadow: 0 0 2px green;
}

.red {
  background-color: red;
  box-shadow: 0 0 2px red;
}

.purple {
  background-color: rgb(157, 19, 157);
  box-shadow: 0 0 2px rgb(157, 19, 157);
}

.transparent {
  background-color: transparent;
}
